body, html {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background: #f9f9f9;
}

section {
	padding: 100px 0 80px 0;
}

.row {
	margin: 0;
}

.bg-1 {
	background: #007dc1;
}

.bg-2 {
	background: #f9f9f9;
}

.bg-3 {
	background:#eee;
}

section.row h2 {
	font-size: 42px;
	padding-left: 15px;
	color: #007dc1;
	margin:0;
	margin-bottom: 30px;
}

section.row h4 {
	font-size: 14px;
	color:#007dc1;
	margin:0;
	margin-bottom: 30px;
}

section.bg-1 h2 {
	color: #fff;
}

#top {
	padding: 15px 0;
	position: fixed;
	top:0;
	z-index: 100;
	background-color: rgba(249,249,249,0.97);
	width: 100%;
	z-index: 100;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#top .my-viitraLogo {
	padding-left: 15px;
}

#top .navbar-default {
	background: transparent;
	border: none;
	margin-bottom: 0;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
}

#top .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

#top ul li a {
	transition: color 0.3s, background-color 0.3s;
	border-radius: 2px;
}

#top ul li a:hover {
	background-color: rgba(0,0,0,0.05);
	color:#007dc1;
}

#top .nav > li > a {
	padding: 15px;
}

#banner {	
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 98;
    background: url(../img/banner.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    box-shadow: inset 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
}

#banner h1, #banner h3 {
	text-transform: uppercase;
	color: #fff;
}

#banner h1 {
	font-size: 36px;
	vertical-align: bottom;
	margin-bottom: 30px;
}

#banner h1 img {
	margin-left: 30px;
	margin-top: 30px;
}

#banner h3 {
	font-size: 22px;
	line-height: 36px;
}

#banner .header-content {
	display: table-cell;
    vertical-align: middle;    
    text-align: center;
    box-sizing: border-box;
}

#wrap {
	position: absolute;
	top: 100%;
	width: 100%;
	left:0;
	z-index: 99;
}

#about h2 {
	padding: 0;
}

#about p {
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	color: rgba(0,0,0,0.8);
}

#about img {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

#solutions article {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	background: #fff;
}

#solutions article img {
	border-radius: 2px 2px 0 0;
	width: 100%;
}

#solutions article h4 {
	margin: 0;
	padding: 15px 15px 10px 15px;
	font-size: 20px;
}

#solutions article p {
	margin:0;
	padding: 0px 15px 15px 15px;
	font-size: 14px;
	color: rgba(0,0,0,0.8);
	line-height: 20px;
}

#solutions article .my-solutionsInfos {
	min-height: 202px;
}

#solutions .my-content > .col-md-3{
	margin-bottom: 30px;
}

#cases article {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	margin-bottom: 30px;
	border-radius: 2px;
	overflow: hidden;
}

#cases article img {
	width: 100%;
}

#cases article span {
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	height: 64px;
}

#cases article span a {
	line-height: 64px;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 20px;
	display: block;
	text-decoration: none;
	color: #fff;
	background: rgba(0,0,0,0.7);
	transition: background-color 0.5s;
}

#cases article span a:hover {
	background-color: rgba(0,0,0,0.9);
}

#partners article a {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	overflow: hidden;
	display: block;
	transition: box-shadow 0.3s;
}

#partners article a:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

#partners article a img {
	width: 100%;
}

#contact article {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background: #fff;
	padding: 15px;
}

#contact article input, #contact article textarea {
	height: 50px;
	box-shadow: none;
	margin-bottom: 15px;
	border:none;
	border-radius: 0;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	padding: 0;
	transition: border-bottom-color 0.5s;
}

#contact article textarea {
	height: 220px;
	padding-top: 20px;
	resize: none;
}

#contact article input:focus, #contact article textarea:focus {
	border-bottom-color: #007dc1;
}

#contact article button {
	height: 48px;
	border-radius: 2px;
	color: #007dc1;
	font-family: 'Roboto';
	font-weight: 700;
	padding: 0;
	width: 100px;
	background: transparent;
	transition: background-color 0.5s, color 0.5s;
}

#contact article button:hover {
	background-color: #007dc1;
	color: #fff;
}

#contact div.my-contact-map {
	height: 508px;
}

#contact div.my-contact-map #map {
	height: 100%;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#contact div.my-contact-map #map iframe {
	width: 100%;
	height: 100%;
}

footer {
	padding: 20px 0 15px;
	background: #eee;
	border-top: 1px solid #ccc;
}

footer article ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

footer article ul li {
	font-size: 14px;
	color: rgba(0,0,0,0.6);
	line-height: 36px;
}

footer article span:first-child {
	margin-right: 15px;
}

footer article div:first-child {
	margin-bottom: 36px;
}

footer article address {
	margin-bottom: 0;
	text-align: right;
	color: rgba(0,0,0,0.6);
}

@media (max-width: 767px) {
	#partners article {
		margin-bottom: 30px;
	}

	#contact div.my-contact-map, #about img {
		display: none;
	}

	footer article {
		float: inherit !important;
	}
}

@media (min-width: 768px) {
	#solutions article, #partners article {
		margin-bottom: 30px;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}

@media (max-width: 992px) {

	#contact div.my-contact-map {
		display: none;
	}

	footer article.pull-right, footer article.pull-left  {
		float: none !important;
	}

	footer article.pull-right > div.pull-right {
		float: none !important;
		text-align: center;
		margin-top: 30px;
	}

	footer article.pull-right > div.pull-right span, 
	footer article address,
	footer article.pull-left ul li {
		text-align: center;
	}

}

.modal-dialog {
}

.modal-content {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	width: auto;
}

.modal-header {
	border: none;
}

.modal-body {
	padding: 15px 0 30px 0;
}

.modal-title {
	color:#007dc1;
	font-family: 'Roboto';
	font-size: 20px;
}

.my-modalCaseImgBox article img {
	width: 100%;
}

.my-modalCaseInfoBox article p {
	line-height: 24px;
	color: rgba(0,0,0,0.8);
	font-family: 'Roboto';
	font-size: 16px;
	margin-bottom: 15px;
}

.my-modalCaseInfoBox article p:first-child {
	margin-bottom: 30px;
}

.my-modalCaseInfoBox article a, .my-modalCaseInfoBox article a:link, .my-modalCaseInfoBox article a:visited {
	height: 48px;
    border-radius: 2px;
    color: #007dc1;
    font-family: 'Roboto';
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 15px;
    background: transparent;
    transition: background-color 0.5s;
    display: block;
    margin-left: 30px;
}

.my-modalCaseInfoBox article a:hover {	
	background-color: rgba(0,0,0,0.1);
	text-decoration: none;
}

.my-modalCaseInfoBox article a img {
	margin-top: -5px;
	margin-right: 12px;
}